/Debug/
FileSystem/.cproject
FileSystem/.project
/Tests/Test_FS_SubirArchivoFinal/Debug/
/Tests/Test_FS_PeticionMarta/Debug/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Eclipse Temporal Project Files
.project
.cproject
/.ycm_extra_conf.pyc
/.ycm_extra_conf.py
/Tests/
